@media  (max-width: 575.98px) { 
    .banner .slider .item{
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(182px);
    }
    .banner .slider .item img {
        width: 98px;
    }
    @keyframes autoRun{
        from{
            transform:  perspective(1000px) rotateX(-28deg) rotateY(0deg);
        }
        to{
            transform:  perspective(1000px) rotateX(-28deg) rotateY(360deg);
        }
    }
    .picture img {
        width: 294px;
        top: 23%;
    
    }
 }
@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner .slider .item{
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(241px);
    }
    .banner .slider .item img {
        width: 130px;
    }
    @keyframes autoRun{
        from{
            transform:  perspective(1000px) rotateX(-27deg) rotateY(0deg);
        }
        to{
            transform:  perspective(1000px) rotateX(-27deg) rotateY(360deg);
        }
    }
    .picture img {
        width: 340px;
        top: 24%;
    
    }
}
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .banner .slider .item{
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(335px);
    }
    .banner .slider .item img {
        width: 170px;
    }
    @keyframes autoRun{
        from{
            transform:  perspective(1000px) rotateX(-25deg) rotateY(0deg);
        }
        to{
            transform:  perspective(1000px) rotateX(-25deg) rotateY(360deg);
        }
    }
    .picture img {
        width: 450px;
        top: 25%;
    
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .banner .slider .item{
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(410px);
    }
    .banner .slider .item img {
        width: 210px;
    }
    @keyframes autoRun{
        from{
            transform:  perspective(1000px) rotateX(-18deg) rotateY(0deg);
        }
        to{
            transform:  perspective(1000px) rotateX(-18deg) rotateY(360deg);
        }
    }
    .picture img {
        width: 500px;
        top: 30%;
    
    }
    
}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .banner .slider .item{
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(490px);
 }
}